<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
        <label for="postTitle">Title</label>
        <input type="text" class="form-control" id="postTitle" name="postTitle" autocomplete="off" spellcheck="true">
    </div>
    <div class="form-group">
        <label for="postBody">Post</label>
        <textarea class="form-control" id="postBody" name="postBody" rows="8" spellcheck="true"></textarea>
    </div>
    <button type="submit" name="compose" class="btn btn-outline-dark btn-sm">Publish</button>
</form>

<%- include("partials/footer") -%>
